<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
  </head>
  <body>
  <div th:fragment="footer">

    <div class="container">

      <footer>
        <!-- this is footer -->
        © 2019 dumaya.dev
        <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>

      </footer>
    </div>

  </div>
  </body>
</html>