<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Mousqueton</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link th:href="@{/content/mousqueton.css}"  rel="stylesheet" />
  </head>
  <body>
    <div th:fragment="header">
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="active"> <a href="index">Accueil</a> </li>
            <li> <a href="sites">Liste des Sites</a> </li>
            <li> <a href="proposersite">Proposer un Site</a> </li>
            <li> <a href="recherchersite">Rechercher un Site</a> </li>
            <li> <a href="topos">Topos</a> </li>
            <li> <a th:href="@{/mestopos/{userName}(id=${principal.getUsername()})}">Mes topos</a> </li>
            <li> <a href="empruntertopo">Emprunter un Topo</a> </li>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>