<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Mousqueton</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link th:href="@{css/mousqueton.css}" href="../static/css/mousqueton.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li> <a href="index">Accueil</a> </li>
            <li> <a href="sites">Liste des Sites</a> </li>
            <li> <a href="recherchersite">Rechercher un Site</a> </li>
            <li> <a href="topos">Topos</a> </li>
            <li> <a href="mestopos">Mes topos</a> </li>
          </ul>
        </div>
      </nav>
       <header class="page-header">
        <h1>Ajout d'un site</h1>
      </header>

      <div class="row">
        <form data-toggle="validator" role="form" th:object="${site}" th:action="@{/ajoutsite}" method="post" >
         <legend>Ajout d'un site</legend>
          <div class="form-group">
            <label for="nom">Nom du Site</label>
            <input type="text" class="form-control" th:field="*{nom}" id="nom"  />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="textarea"  class="form-control" th:field="*{description}" id="description" ></textarea>
          </div>
          <div class="form-group">
            <label for="lieu">Lieu d'escalade</label>
            <input type="text" class="form-control" th:field="*{lieu}" id="lieu" required="required" />
          </div>
          <div class="form-group">
            <label for="typeRoche">Type de Roche</label>
            <input type="text" class="form-control" th:field="*{typeRoche}" id="typeRoche"/>
          </div>
          <div class="form-group">
            <label for="ancrage">Ancrage</label>
            <input type="text" class="form-control" th:field="*{ancrage}" id="ancrage" />
          </div>
            <div class="form-group">
                <label for="relais">Relais</label>
                <input type="text" class="form-control" th:field="*{relais}" id="relais" />
            </div>
            <div class="form-group">
                <label for="altitude">Altitude</label>
                <input type="text" class="form-control" th:field="*{altitude}" id="altitude" />
            </div>
            <div class="form-group">
                <label for="orientation">Orientation</label>
                <input type="text" class="form-control" th:field="*{orientation}" id="orientation" />
            </div>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
          <!-- Check if errorMessage is not null and not empty -->

          <div th:if="${erreurSaisieSite}" th:utext="${erreurSaisieSite}" class="bg-danger">
          </div>

      </div>
        <div class="btn-group">
            <a href="/sites" class="btn btn-secondary active">Retourner à la liste des sites</a>
        </div>
     </div>
  </body>
</html>

