<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Mousqueton</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link th:href="@{css/mousqueton.css}"  rel="stylesheet" />
  </head>
  <body>
    <div class="container container-fluid">
        <div th:replace="fragments/general.html :: menu"></div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1>Liste des sites</h1>
            </div>
          <section class="table-responsive">
          <table class="table table-striped table-bordered table-condensed">
              <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Lieu</th>
                    <th>Cotations</th>
                    <th>Type de roche</th>
                    <th>Ancrage</th>
                    <th>Relais</th>
                    <th>Altitude</th>
                    <th>Orientation</th>
                    <th>Date de mise à jour</th>
                    <th>Détails du site</th>
                </tr>
                <tr th:each ="site : ${sites}">

                    <td th:utext="${site.nom}">...</td>
                    <td th:utext="${site.description}">...</td>
                    <td th:utext="${site.lieu}">...</td>
                    <td th:utext="'Min:' + ${site.cotationMin} + ' Max:' + ${site.cotationMax}">...</td>
                    <td th:utext="${site.typeRoche}">...</td>
                    <td th:utext="${site.ancrage}">...</td>
                    <td th:utext="${site.relais}">...</td>
                    <td th:utext="${site.altitude}">...</td>
                    <td th:utext="${site.orientation}">...</td>
                    <td th:utext="${site.dateMaj}">...</td>
                    <td>
                        <a th:href="@{/secteurs(idSite=${site.id})}">
                                    <input type="hidden"  th:value="${site.id}" name="idSite"/>
                                    <button type="submit" class="btn btn-success">Voir</button>
                        </a>
                    </td>
                </tr>
            </table>
          </section>
        </div>
        <div class="btn-group">
            <a href="/ajoutsite" class="btn btn-primary active">Ajouter un site</a>
        </div>
        <div th:replace="fragments/general.html :: pied"></div>
        </div>
  </body>
</html>

