<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Mousqueton</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link th:href="@{css/mousqueton.css}"  rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li> <a href="index">Accueil</a> </li>
            <li class="active"> <a href="sites">Liste des Sites</a> </li>
            <li> <a href="recherchersite">Rechercher un Site</a> </li>
            <li> <a href="topos">Topos</a> </li>
            <li> <a href="mestopos">Mes topos</a> </li>
          </ul>
        </div>
      </nav>
       <header class="page-header">
        <h1>Site :</h1>
      </header>
        <table class="table table-striped table-bordered">
            <tr> <th>Nom</th> <td th:utext="${site.nom}"></td> </tr>
            <tr> <th>Description</th> <td th:utext="${site.description}"></td> </tr>
            <tr> <th>Lieu</th> <td th:utext="${site.lieu}"></td> </tr>
            <tr> <th>Cotations</th> <td th:utext="'Min:' + ${site.cotationMin} + ' Max:' + ${site.cotationMax}"></td> </tr>
            <tr> <th>Type Roche</th> <td th:utext="${site.typeRoche}"></td> </tr>
            <tr> <th>Ancrage</th> <td th:utext="${site.ancrage}"></td> </tr>
            <tr> <th>Relais</th> <td th:utext="${site.relais}"></td> </tr>
            <tr> <th>Altitude</th> <td th:utext="${site.altitude}"></td> </tr>
            <tr> <th>Orientation</th> <td th:utext="${site.orientation}"></td> </tr>
            <tr> <th>Date de MAJ</th> <td th:utext="${site.dateMaj}"></td> </tr>
        </table>
        <h2>Secteur :</h2>
        <table class="table table-striped table-bordered">
            <tr> <th>Nom</th> <td th:utext="${secteur.nom}"></td> </tr>
            <tr> <th>Description</th> <td th:utext="${secteur.description}"></td> </tr>
        </table>

        <h3>Voies :</h3>
        <table class="table table-striped table-bordered">
                <tr>
                    <th>Nom</th>
                    <th>Cotation</th>
                    <th>Description</th>
                    <th>Date de mise à jour</th>
                    <th>Détails de la voie</th>
                </tr>
                <tr th:each ="voie : ${secteur.getVoies()}">
                    <td th:utext="${voie.nom}">...</td>
                    <td th:utext="${voie.cotation}">...</td>
                    <td th:utext="${voie.description}">...</td>
                    <td th:utext="${voie.dateMaj}">...</td>
                    <td>
                        <a th:href="@{/longueurs(idSite=${site.id},idSecteur=${secteur.id},idVoie=${voie.id})}">
                            <input type="hidden"  th:value="${site.id}" name="idSite"/>
                            <input type="hidden"  th:value="${secteur.id}" name="idSecteur"/>
                            <input type="hidden"  th:value="${voie.id}" name="idVoie"/>
                            <button type="submit" class="btn btn-success">Voir</button>
                        </a>
                    </td>
                </tr>
            </table>
            <div class="btn-group">
                <a th:href="@{/ajoutvoie(idSite=${site.id},idSecteur=${secteur.id})}" class="btn btn-primary active">Ajouter une voie à ce secteur</a>
            </div>
        </div>
  </body>
</html>

